<div class="dropdown-menu" aria-labelledby="products">

    <button class="dropdown-item" type="button">
        {% if category_name == 'All' %}
            <a class="nav-link text-dark" href="{% url 'products' 'All' %}">All Products</a>
        {% else %}
            <a class="nav-link" href="{% url 'products' 'All' %}">All Products</a>
        {% endif %}
    </button>
    {% for category in categories %}
        <button class="dropdown-item" type="button">
            {% if category_name == category.name %}
                <a class="nav-link text-dark" href="{% url 'products' category.name%}">{{ category.name }}</a>
            {% else %}
                <a class="nav-link" href="{% url 'products' category.name%}">{{ category.name }}</a>
        </button>
        {% endif %}
    {% endfor %}
</div>
