{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                Profile Page
            </h1>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="myFile" name="profile_image">
    <button type="submit">Upload</button>
</form>

{% if user_profile.profile_image %}
<img src="{{user_profile.profile_image.url}}" alt="profile image">
{% else %}
<img src="{{user_profile.google_profile_image}}" alt="google profile image">
{% endif %}

<p>set your password here</p> <a class="btn-primary" href="{% url 'account_set_password' %}"> Set Password
</a>

{% endif %}
{% endblock %}