<div>
    <li class="list-inline-item">
        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="#">
            <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                    {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                    {% else %}
                    $0.00
                    {% endif %}
                </p>
                <button u:click="add_to_bag(1)">View Bag</button>
            </div>
        </a>
    </li>
</div>