<div class="row g-0 product-card"
{% if show_detail %}
    {% for color, rgbas in rgba_colors.items %}
        {% if color == selected_color %}
            style="background: linear-gradient(40deg, {{rgbas.op_one}} 0%, {{rgbas.op_zero}} 32%, {{rgbas.op_zero}} 68%, {{rgbas.op_zero}} 100%);"
        {% endif %}
    {% endfor %}
{% endif %}
>
    <div class="col-12">
        <div class="product-card-img-div" style="background-image:url('{{product_image_url}}')"></div>
        <p>{{ product.name }}</p>
        <p>{{ product.description }}</p>
        <p>EUR {{ product.price }}</p>
        <button u:click="toggle_detail" class="btn btn-gate" type="button">
            {% if not show_detail %}
                <i class="fas fa-caret-down">&nbsp buy</i>
            {% else %}
                &nbsp&nbsp&nbsp&nbsp<i class="fas fa-caret-up"></i>&nbsp&nbsp&nbsp&nbsp
            {% endif %}
        </button>
        <div class="product-combinations-in-cart-widget">
            <i class="fas fa-shopping-cart">:</i>
                {% for item in bag_items %}
                    {% if item.item_id == str_id %}
                        &nbsp
                        <button u:click="set_size_color('{{item.color}}', '{{item.size}}')" style="background-color: {{item.color}}" class="color-size-button-in-cart">{{item.size}} </button>
                    {% endif %}
                {% endfor %}
            <hr>
        </div>
    </div>
    {% if show_detail %}
    <div class="form-group row g-0 product-detail-menu">
        <div class="col-9">
            {% if component_quantity_changed and in_bag %}
                <button u:click="adjust_bag" onclick="updateBagstatus()" class="form-control btn-gate"> Adjust </button>
            {% else %}
                <button u:click="add_to_bag" onclick="updateBagstatus()" class="btn-gate form-control"> Add to cart </button>
            {% endif %}
            {%if in_bag %}
            <button u:click="remove_from_bag" onclick="updateBagstatus()"
                class="form-control btn-danger">
                <i class="fas fa-trash"></i>
            </button>
            {% endif %}
            <div class="input-group color-size">
            <label for="colors" class="label-edit-widget"> select colors </label>
                <div class="non-lable-row-widget" name="colors">
                    {% for color_instance in product.colors.all %}
                        <button u:click="select_size_or_color('{{color_instance.name_EN}}', 'color')"
                                data-btn-info="{{color_instance.name_EN}}"
                                id="button-{{color_instance.name_EN}}-{{product.id}}"
                                class="color-size-button"
                                style="background-color:{{color_instance.hexcolor}};">
                        </button>
                    {% endfor %}
                </div>
            </div>
            <div class="input-group color-size">
                <label for="sizes" class="label-edit-widget">
                    <strong>
                        {{selected_size}}
                        {% for unit, value in size_units.items %}
                            {% if unit == selected_size %}
                                {{ value }}
                            {% endif %}
                        {% endfor %}
                    </strong>
                </label>
                <div class="non-lable-row-widget" name="sizes">
                    {% for size_instance in product.sizes.all %}
                        <button u:click="select_size_or_color('{{size_instance.size}}', 'size')"
                                data-btn-info="{{size_instance.size}}" id="button-{{size_instance.size}}-{{product.id}}"
                                class="color-size-button">{{size_instance.size}}
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-3 quantity-widget">
            <button class="increment-qty btn form-control" u:click="increment_component_quantity">
                <i class="fas fa-arrow-up"></i>
            </button>
            <input class="form-control" type="number" disabled
                name="quantity" value="{{component_quantity}}" min="1" max="99">
            <button class="decrement-qty btn form-control" u:click="decrement_component_quantity">
                <i class="fas fa-arrow-down"></i>
            </button>
        </div>
    </div>
    {% endif %}
</div>
<hr>
