<div class="col-12 col-md-6 col-lg-4 product-card">
    <div class="product-combinations-in-cart-widget col-12">
        {% if str_id in bag %}
            <i class="fas fa-shopping-cart">:</i>
        {% endif %}
        {% for item in bag_items %}
            {% if item.item_id == str_id %}
                &nbsp
                <div style="background-color: {{item.color}}" class="color-size-button-in-cart">{{item.size}} </div>
            {% endif %}
        {% endfor %}
        <hr>
    </div>
    <div class="col-12">
        <img src="{{ product_image_url }}" alt="immage of the product">
        <p>{{ product.name }}</p>
        <p>{{ product.description }}</p>
        <p>EUR {{ product.price }}</p>
        {% if not show_detail %}
            <button u:click="toggle_detail" class="btn col-9" type="button">
                <i class="fas fa-caret-down"></i> buy
            </button>
        {% endif %}
    </div>
    {% if show_detail %}
    <div class="form-group row g-0 product-detail-menu">
        <div class="col-9">
            {% if component_quantity_changed and in_bag %}
                <button style="display: none" u:click="add_to_bag" onclick="updateBagstatus()" class="form-control"> Add to cart </button>
                <button style="display:block" u:click="adjust_bag" onclick="updateBagstatus()" class="form-control"> Adjust </button>
            {% else %}
                {% if in_bag %}
                    <button id="add-to-bag-btn-{{ product.id }}" class="add-to-bag-btn" style="display: block" disabled class="form-control">
                        In the cart <i class="fas fa-check"></i>
                    </button>
                    <button  class="adjust-product-bag-btn" style="display:none" u:click="adjust_bag" onclick="updateBagstatus()" class="form-control"> Adjust </button>
                {% else %}
                    <button style="display: block" u:click="add_to_bag" onclick="updateBagstatus()" class="form-control"> Add to cart </button>
                    <button style="display:none" u:click="adjust_bag" onclick="updateBagstatus()" class="form-control"> Adjust </button>
                {% endif %}
            {% endif %}
            <button u:click="remove_from_bag" onclick="updateBagstatus()"
                class="form-control" {% if in_bag and show_detail%} style = "visibility: visible;" {%else%} style = "visibility:hidden;" {%endif%}>
                Remove <i class="fas fa-trash"></i>
            </button>

            <div class="input-group">
            <p> select colors </p>
                {% for color_instance in product.colors.all %}
                    <button u:click="select_size_or_color('{{color_instance.name_EN}}', 'color')"
                            data-btn-info="{{color_instance.name_EN}}"
                            id="button-{{color_instance.name_EN}}-{{product.id}}"
                            class="color-size-button"
                            style="background-color:{{color_instance.hexcolor}};">
                    </button>
                {% endfor %}
            </div>
            <div class="input-group">
                <p> select sizes </p>
                {% for size_instance in product.sizes.all %}
                    <button u:click="select_size_or_color('{{size_instance.size}}', 'size')"
                            data-btn-info="{{size_instance.size}}" id="button-{{size_instance.size}}-{{product.id}}"
                            class="color-size-button">{{size_instance.size}}
                    </button>
                {% endfor %}
            </div>
        </div>
        <div class="col-3 quantity-widget">
            <button class="increment-qty btn form-control" u:click="increment_component_quantity">
                <i class="fas fa-arrow-up"></i>
            </button>
            <input class="form-control" type="number" disabled
                name="quantity" value="{{component_quantity}}" min="1" max="99">
            <button class="decrement-qty btn form-control" u:click="decrement_component_quantity">
                <i class="fas fa-arrow-down"></i>
            </button>
        </div>
    </div>
    <button u:click="toggle_detail" class="btn col-9" type="button"><i class="fas fa-caret-up"></i></button>
    {% endif %}
    <hr>
</div>

