{% extends "base.html" %}
{% load static %}
{% load unicorn %}
{% csrf_token %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <button class="nav-item">
        <a href="{% url 'add_product' %}">Add new Products content</a>
    </button>

    {% for product in products %}
        <div class="row g-0">
            <div class="col-6">
                <div class="product-card-img-div" style="background-image:url('{{ product.product_image.url }}')"></div>
                <p>{{ product.name }}</p>
                <p>{{ product.description }}</p>
                <p>EUR {{ product.price }}</p>
                <button class="btn btn-success"><a href="{% url 'edit_product' product.id%}"><i class="fas fa-edit"></i> Edit</a></button>
                {% unicorn 'delete_product' product=product %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}