{% extends "base.html" %}
{% load static %}
{% load unicorn %}
{% csrf_token %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row g-0">
        <div class="col-7 col-md-6">
            <h1 class="display-4">
                {{ category_name }}
                {% if category_name == 'All' %}
                    Products
                {% else %}
                    Collection
                {% endif %}
            </h1>
        </div>
    </div>
    <div  class="row g-0 h-100">
        {% for product in products %}
            {% unicorn 'product' with product=product %}
        {% endfor %}
    </div>
</div>

{% endblock %}